
SerialDetection/application.macosx/SerialDetection.app/Contents/Info.plist

SerialDetection/application.macosx/SerialDetection.app/Contents/MacOS/JavaApplicationStub

SerialDetection/application.macosx/SerialDetection.app/Contents/PkgInfo

SerialDetection/application.macosx/SerialDetection.app/Contents/MacOS/JavaApplicationStub64

SerialDetection/application.macosx/SerialDetection.app/Contents/Resources/Java/RXTXcomm.jar

SerialDetection/application.macosx/SerialDetection.app/Contents/Resources/Java/SerialDetection.jar

SerialDetection/application.macosx/SerialDetection.app/Contents/Resources/Java/core.jar

SerialDetection/application.macosx/SerialDetection.app/Contents/Resources/Java/serial.jar

SerialDetection/application.macosx/SerialDetection.app/Contents/Resources/sketch.icns

SerialDetection/application.macosx/SerialDetection.app/Contents/Resources/Java/librxtxSerial.jnilib

SerialDetection/application.macosx/source/SerialDetection.java

SerialDetection/application.macosx/source/SerialDetection.pde

SerialDetection/code/twitter4j-core-2.2.5.jar
